<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>올웨이즈</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Bundle Id</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.ilevit.alwayz.ios</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.ilevit.alwayz.ios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>alwayz</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>alwayz</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>alwayz</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Kakao Url Scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao9f5444f6890c9eaea2a6a0974dc1fa18</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb2947863158865631</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CodePushDeploymentKey</key>
	<string>$(CODEPUSH_KEY)</string>
	<key>FacebookAppID</key>
	<string>2947863158865631</string>
	<key>FacebookClientToken</key>
	<string>f42faaac6ffe92e96c318abace866ef8</string>
	<key>FacebookDisplayName</key>
	<string>Alwayz</string>
	<key>FirebaseDynamicLinksCustomDomains</key>
	<array>
		<string>https://alwayzshop.page.link</string>
		<string>https://alwayzshop.ilevit.com</string>
		<string>https://itunes.apple.com</string>
	</array>
	<key>KAKAO_APP_KEY</key>
	<string>9f5444f6890c9eaea2a6a0974dc1fa18</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
		<string>kftc-bankpay</string>
		<string>ispmobile</string>
		<string>itms-apps</string>
		<string>hdcardappcardansimclick</string>
		<string>smhyundaiansimclick</string>
		<string>shinhan-sr-ansimclick</string>
		<string>smshinhanansimclick</string>
		<string>kb-acp</string>
		<string>mpocket.online.ansimclick</string>
		<string>ansimclickscard</string>
		<string>ansimclickipcollect</string>
		<string>vguardstart</string>
		<string>samsungpay</string>
		<string>scardcertiapp</string>
		<string>lottesmartpay</string>
		<string>lotteappcard</string>
		<string>cloudpay</string>
		<string>nhappcardansimclick</string>
		<string>nonghyupcardansimclick</string>
		<string>citispay</string>
		<string>citicardappkr</string>
		<string>citimobileapp</string>
		<string>kakaotalk</string>
		<string>payco</string>
		<string>lpayapp</string>
		<string>hanamopmoasign</string>
		<string>wooripay</string>
		<string>nhallonepayansimclick</string>
		<string>hanawalletmembers</string>
		<string>chaipayment</string>
		<string>kb-auth</string>
		<string>hyundaicardappcardid</string>
		<string>com.wooricard.wcard</string>
		<string>lmslpay</string>
		<string>lguthepay-xpay</string>
		<string>liivbank</string>
		<string>supertoss</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	
	
	<key>NSContactsUsageDescription</key>
	<string>연락처 번호들을 올웨이즈 서버에 업로드하여 친구들이 Alwayz에 가입되어 있는지 확인할 수 있습니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>근처에 있는 친구를 찾기 위해 위치 정보를 활용합니다.</string>
	<key>NSMotionUsageDescription</key>
	<string>이 앱은 걸음 수를 추적하기 위해 사용자의 동작 데이터에 접근합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>프로필 사진을 설정할 수 있습니다.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>개인에게 최적화된 광고를 제공하기 위해 사용자의 광고 활동 정보를 수집합니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>근처에 있는 친구를 찾기 위해 위치 정보를 활용합니다.</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<string>근처에 있는 친구를 찾기 위해 위치 정보를 활용합니다.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>근처에 있는 친구를 찾기 위해 위치 정보를 활용합니다.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
